extends ../main.pug

append config
	- title	= 'Bukee'
	- desc	= 'Description'

block content
	section
		.section.section-hero
			.container.section-hero__container
				.block-hero
					.book-hero
						.book-hero__picture: +icon('book', 'book-hero__icon')
						.book-hero__picture-text
							.book-hero__picture-title Good book
							.book-hero__picture-subtitle Don’t judge a book by its cover
						span.book-hero__picture-author - By Emma Anderson
					.block-text
						span.author - By Emma Anderson
						h1.title.title_white.title_uppercase Bukee: The Book
						span.subtitle A room without books is like a body without a soul
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
						a.btn(href="#" target="_blank") Buy this book - $15.00
						small.note * Some conditions may applicable
	section
		.section.section-author
			.container.section-author__container
				.block-author
					.block-text.block-text_dark
						span.author.author_dark - Book Author
						h2.title Emma Anderson
						span.subtitle A room without books is like a body without a soul
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
						a.btn(href="#" target="_blank") Read full biography
					.block-avatar
						.block-avatar__pic
							img.block-avatar__img(src="img/author.jpg", alt="author")
							svg.block-avatar__pattern(width="435" height="560")
								linearGradient#gradient(gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="435" y2="560")
									stop(offset="0" style="stop-color: #446a87")
									stop(offset="1" style="stop-color: #59c2ae")
								rect(width="435" height="560" x="0" y="0" fill="url(#gradient)")
				.block-counter
					ul.block-counter__list
						li.block-counter__item
							span.block-counter__value 12
							span.block-counter__text Total published books
						li.block-counter__item
							span.block-counter__value 5
							span.block-counter__text Best selling books
						li.block-counter__item
							span.block-counter__value 15,000
							span.block-counter__text Happy readers
	section
		.section.section-contents
			.container.section-contents__container
				h2.title Book Contents
				span.subtitle Let’s see what we have covered in the book
				.book-contents
					.book-contents__about
						.book-contents__about-desc
							h3.book-contents__title About the book
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.
						.book-contents__about-featured
							.featured
								span.featured__title Featured in:
								+icon('pied-piper-hat', 'featured__icon')
								+icon('amazon', 'featured__icon')
								+icon('apple-pay', 'featured__icon')
					.book-contents__table
						.book-contents__title Table of contents
						.block-table
							ol.block-table__list
								li.block-table__item Lorem ipsum dolor sit amet
								li.block-table__item Consectetur adipisicing elit
								li.block-table__item Labore et dolore magna
								li.block-table__item Consectetur adipisicing elit
								li.block-table__item Labore et dolore magna
								li.block-table__item Lorem ipsum dolor sit amet
								li.block-table__item Consectetur adipisicing elit
								li.block-table__item Labore et dolore magna
								li.block-table__item Consectetur adipisicing elit
								li.block-table__item Labore et dolore magna
						a.btn(href="#" target="_blank") More
	section
		.section.section-books
			.container.section-books__container
				h2.title Other Books
				span.subtitle Some books you might be interested in
				.books
					ul.books__list
						li.books__item
							.book
								+icon('book_sm', 'book__picture')
								.book__inner-text
									h3.book__inner-title Inception
									span.book__inner-subtitle Books are the best friends
								span.book__inner-author - By Emma Anderson
							.book__text
								h3.book__title Inception
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							a.link(href="#") Read More
						li.books__item
							.book
								+icon('book_sm', 'book__picture')
								.book__inner-text
									h3.book__inner-title Fight Club
									span.book__inner-subtitle Books are the best friends
								span.book__inner-author - By Emma Anderson
							.book__text
								h3.book__title Fight Club
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							a.link(href="#") Read More
						li.books__item
							.book
								+icon('book_sm', 'book__picture')
								.book__inner-text
									h3.book__inner-title Daredevils
									span.book__inner-subtitle Books are the best friends
								span.book__inner-author - By Emma Anderson
							.book__text
								h3.book__title Daredevils
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							a.link(href="#") Read More
				a.btn(href="#") Browse all books