extends ../main.pug

append config
	- title	= 'Bukee'
	- desc	= 'Description'

block content
	section
		.section.section-hero
			.container.section-hero__container
				.block-hero
					.book-hero
						.book-hero__picture: +icon('book', 'book-hero__icon')
						.book-hero__picture-text
							.book-hero__picture-title Good book
							.book-hero__picture-subtitle Don’t judge a book by its cover
						span.book-hero__picture-author - By Emma Anderson
					.block-text
						span.author - By Emma Anderson
						h1.title.title_white.title_uppercase Bukee: The Book
						span.subtitle A room without books is like a body without a soul
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
						a.btn(href="#" target="_blank") Buy this book - $15.00
						small.note * Some conditions may applicable
		<!-- /.section-hero -->

	section
		.section.section-author
			.container.section-author__container
				.block-author
					.block-text.block-text_dark
						span.author.author_dark - Book Author
						h2.title Emma Anderson
						span.subtitle A room without books is like a body without a soul
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
						a.btn(href="#" target="_blank") Read full biography
					.block-avatar
						.block-avatar__pic
							img.block-avatar__img(src="img/author.jpg", alt="author")
							svg.block-avatar__pattern(width="435" height="560")
								linearGradient#gradient(gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="435" y2="560")
									stop(offset="0" style="stop-color: #446a87")
									stop(offset="1" style="stop-color: #59c2ae")
								rect(width="435" height="560" x="0" y="0" fill="url(#gradient)")
				.block-counter
					ul.block-counter__list
						li.block-counter__item
							span.block-counter__value 12
							span.block-counter__text Total published books
						li.block-counter__item
							span.block-counter__value 5
							span.block-counter__text Best selling books
						li.block-counter__item
							span.block-counter__value 15,000
							span.block-counter__text Happy readers
		<!-- /.section-author -->

	section
		.section.section-contents
			.container.section-contents__container
				h2.title Book Contents
				span.subtitle Let’s see what we have covered in the book
				.book-contents
					.book-contents__about
						.book-contents__about-desc
							h3.book-contents__title About the book
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ali qua. Ut enim ad minim veniam, quis nostrud exercitation ull amco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu m dolore eu fugiat nulla pariatur.
						.book-contents__about-featured
							.featured
								span.featured__title Featured in:
								+icon('pied-piper-hat', 'featured__icon')
								+icon('amazon', 'featured__icon')
								+icon('apple-pay', 'featured__icon')
					.book-contents__table
						.book-contents__title Table of contents
						.block-table
							ol.block-table__list
								li.block-table__item Lorem ipsum dolor sit amet
								li.block-table__item Consectetur adipisicing elit
								li.block-table__item Labore et dolore magna
								li.block-table__item Consectetur adipisicing elit
								li.block-table__item Labore et dolore magna
								li.block-table__item Lorem ipsum dolor sit amet
								li.block-table__item Consectetur adipisicing elit
								li.block-table__item Labore et dolore magna
								li.block-table__item Consectetur adipisicing elit
								li.block-table__item Labore et dolore magna
						a.btn(href="#" target="_blank") More
		<!-- /.section-contents -->

	section
		.section.section-books
			.container.section-books__container
				h2.title Other Books
				span.subtitle Some books you might be interested in
				.books
					ul.books__list
						li.books__item
							.book
								+icon('book_sm', 'book__picture')
								.book__inner-text
									h3.book__inner-title Inception
									span.book__inner-subtitle Books are the best friends
								span.book__inner-author - By Emma Anderson
							.book__text
								h3.book__title Inception
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							a.link(href="#") Read More
						li.books__item
							.book
								+icon('book_sm', 'book__picture')
								.book__inner-text
									h3.book__inner-title Fight Club
									span.book__inner-subtitle Books are the best friends
								span.book__inner-author - By Emma Anderson
							.book__text
								h3.book__title Fight Club
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							a.link(href="#") Read More
						li.books__item
							.book
								+icon('book_sm', 'book__picture')
								.book__inner-text
									h3.book__inner-title Daredevils
									span.book__inner-subtitle Books are the best friends
								span.book__inner-author - By Emma Anderson
							.book__text
								h3.book__title Daredevils
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							a.link(href="#") Read More
				a.btn(href="#") Browse all books
		<!-- /.section-books -->

	section
		.section.section-feedback
			.container.section-feedback__container
					.slider
						.slide
							.slide__author
								.slide__author-avatar
									.slide__pic
										.slide__quote
										img.slide__img(src="img/review-01.png", alt="review")
								h3.slide__author-name Kate Dennings
								span.slide__author-occupation Calligraphy Expert
							.slide__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
						.slide
							.slide__author
								.slide__author-avatar
									.slide__pic
										.slide__quote
										img.slide__img(src="img/review-01.png", alt="review")
								h3.slide__author-name Kate Dennings
								span.slide__author-occupation Calligraphy Expert
							.slide__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
						.slide
							.slide__author
								.slide__author-avatar
									.slide__pic
										.slide__quote
										img.slide__img(src="img/review-01.png", alt="review")
								h3.slide__author-name Kate Dennings
								span.slide__author-occupation Calligraphy Expert
							.slide__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.

	section
		.section.section-events
			.container.section-events__container
				.block-avatar.block-avatar_left
					.block-avatar__pic
						img.block-avatar__img_left(src="img/author-02.jpg", alt="author")
						svg.block-avatar__pattern.block-avatar__pattern_left(width="435" height="704")
							linearGradient#gradient2(gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="435" y2="704")
								stop(offset="0" style="stop-color: #446a87")
								stop(offset="1" style="stop-color: #59c2ae")
							rect(width="435" height="704" x="0" y="0" fill="url(#gradient2)")
				.block-events
					span.author.author_dark - Emma Anderson
					h2.title Upcoming Events
					span.subtitle Some upcoming events you might be interested in
					.events
						ul.events__list
							li.events__item
								.event
									span.event__date November 21, 2018
									h4.event__title Book signing - San Francisco, CA
									.event__desc
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
									a.btn(href="#") Register
							li.events__item
								.event
									span.event__date November 21, 2018
									h4.event__title Book reading - Los Angeles, CA
									.event__desc
										p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
									a.btn(href="#") Register
		<!-- /.section-events -->

	section
		.section.section-blog
			.container.section-blog__container
				h2.title Latest from Blog
				span.subtitle Some of the latest posts from my personal blog
				.block-blog
					ul.block-blog__list
						li.block-blog__item
							.blog-item
								img.blog-item__img(src="img/blog-01.jpg", alt="alt")
								a.blog-item__link(href="#")
									h3.blog-item__title Importance of light in photography
								.blog-item__info By
									a.blog-item__info-link(href="#") Emma Anderson
									span.separator -
									a.blog-item__info-link(href="#") june 30, 2020
								.blog-item__text
									p Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
						li.block-blog__item
							.blog-item
								img.blog-item__img(src="img/blog-02.jpg", alt="alt")
								a.blog-item__link(href="#")
									h3.blog-item__title The tools you need for the perfection
								.blog-item__info By
									a.blog-item__info-link(href="#") Emma Anderson
									span.separator -
									a.blog-item__info-link(href="#") june 22, 2020
								.blog-item__text
									p Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
						li.block-blog__item
							.blog-item
								img.blog-item__img(src="img/blog-03.jpg", alt="alt")
								a.blog-item__link(href="#")
									h3.blog-item__title Knowing the difference is important
								.blog-item__info By
									a.blog-item__info-link(href="#") Emma Anderson
									span.separator -
									a.blog-item__info-link(href="#") june 20, 2020
								.blog-item__text
									p Lorem ipsum dolor sit amet, conse ctetur adipi scing elit, sed do eius mod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
				a.btn(href="#") Read more in the blog
		<!-- /.section-blog -->

	section
		.section.section-newsletter
			.container.section-newsletter__container
				.block-newsletter
					.block-newsletter__text
						h2.title Join Newsletter
						.block-newsletter__desc
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
					.block-newsletter__form
						input.block-newsletter__input(type="text" placeholder="Enter your email" name="input")
						button.block-newsletter__btn Subscribe
		<!-- /.section-newsletter -->

	footer
		.footer
			.container.footer__container
				ul.footer__list
					li.footer__item
						.footer__col
							a.logo(href="#"): +icon('logo-footer', 'logo__icon')
							.footer__desc
								p Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								span.copyright © 2018 Bukee Private Limited.
					li.footer__item
						.footer__col
							h4.footer__title Useful Links
							nav.footer-nav
								ul.footer-nav__list
									li.footer-nav__item
										a.footer-nav__link(href="#") About Bukee
									li.footer-nav__item
										a.footer-nav__link(href="#") Explore Our Ecosystem
									li.footer-nav__item
										a.footer-nav__link(href="#") Monthly Community Meetup
									li.footer-nav__item
										a.footer-nav__link(href="#") Privacy Policy
					li.footer__item
						.footer__col
							h4.footer__title Our Contacts
							.footer-contacts
								ul.footer-contacts__link
									li.footer-contacts__item Amphitheatre Parkway, CA, 94043
									li.footer-contacts__item Call us on: +4455663322
									li.footer-contacts__item Email: support@bukee.com
							.social
								ul.social__list
									li.social__item
										a.social__link(href="#" target="_blank"): +icon('facebook-f', 'social__icon')
									li.social__item
										a.social__link(href="#" target="_blank"): +icon('twitter', 'social__icon')
									li.social__item
										a.social__link(href="#" target="_blank"): +icon('twitch', 'social__icon')
									li.social__item
										a.social__link(href="#" target="_blank"): +icon('slack-hash', 'social__icon')
									li.social__item
										a.social__link(href="#" target="_blank"): +icon('whatsapp', 'social__icon')
		<!-- /.footer -->