extends ../main.pug

append config
	- title	= 'Bukee'
	- desc	= 'Description'

block content
	section
		.section.hero
			.container.hero__container
				.book-hero
					.book-hero__picture
					.block-text
						span.author - By Emma Anderson
						h1.title.title_white.title_uppercase Bukee: The Book
						span.subtitle A room without books is like a body without a soul

						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.

						a.btn(href="#" target="_blank") Buy this book - $15.00
						small.note * Some conditions may applicable
	section
		.section.book-author
			.container.book-author__container
				.block-author
					.block-text.block-text_dark
						span.author.author_dark - Book Author
						h1.title Emma Anderson
						span.subtitle A room without books is like a body without a soul

						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

						p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.

						a.btn(href="#" target="_blank") Read full biography
					.block-avatar
						.block-avatar__pic
							img.block-avatar__img(src="img/author.jpg", alt="author")
							svg.block-avatar__pattern(width="435" height="560")
								linearGradient#gradient(gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="435" y2="560")
									stop(offset="0" style="stop-color: #446a87")
									stop(offset="1" style="stop-color: #59c2ae")
								rect(width="435" height="560" x="0" y="0" fill="url(#gradient)")