.block-avatar {
	margin: $gutter*2 $gutter*2 0 0;

	@include tablets {
		flex-basis: 40%;
		margin: 5rem $gutter 0 0;
	}

	@include phones {
		margin: $gutter 0;
		text-align: center;
	}

	&_left {
		margin: $gutter*2 0 0 0;
	}

	&__pic {
		position: relative;
	}

	&__img_left {
		margin-left: 10%;

		@include phones {
			max-width: 70%;
			margin-left: 0;
		}
	}

	&__pattern {
		position: absolute;
		top: 50%;
		left: 60%;
		z-index: -1;
		transform: translate(-50%, -50%);

		@include tablets {
			width: 20.35714285714286rem;
			height: 26.42857142857143rem;
		}
	}

	&__pattern_left {
		top: -8%;
		left: 0;
		transform: none;

		@include phones {
			left: $gutter;
		}
	}
}
