.blog-item {
	&__img {
		margin-bottom: 1.25rem;
		object-fit: fill;
	}

	&__link {
		color: $dark;

		&:hover {
			text-decoration: underline;
		}
	}

	&__title {
		margin-bottom: .3125rem;
		font-family: $title;
		font-size: 1.125rem;
		font-weight: 700;
		color: $dark;
		letter-spacing: .05625rem;
	}

	&__info {
		font-family: $text;
		font-size: 1rem;
		color: $gray;
	}

	&__info-link {
		font-size: .9375rem;
		color: $accent;
		letter-spacing: .046875rem;

		&:first-child {
			margin-left: $gutter/3;
		}
	}

	&__text {
		color: $gray;
	}
}
