.block-counter {
	margin-top: 10rem;

	@include tablets {
		margin-top: 5rem;
	}

	&__list {
		display: flex;
		justify-content: space-around;
	}

	&__item {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	&__value {
		font-family: $title;
		font-size: 5rem;
		font-weight: 200;
		color: $accent;
		letter-spacing: .2rem;
	}

	&__text {
		font-family: $title;
		font-size: 1.125rem;
		font-weight: 400;
		color: $gray;
		letter-spacing: .045rem;
	}
}
