.block-avatar {
	margin: $gutter*2 $gutter*2 0 0;

	&__pic {
		position: relative;
	}

	&__pattern {
		position: absolute;
		top: 50%;
		left: 60%;
		z-index: -1;
		transform: translate(-50%, -50%);
	}
}
