.book-contents {
	display: flex;
	justify-content: space-between;
	margin-top: 4rem;

	@include phones {
		flex-direction: column;
		margin-top: 1.923076923076923rem;
	}

	&__about {
		flex-basis: 41%;
	}

	&__about-desc {
		color: gray;
	}

	&__table {
		flex-basis: 53%;

		@include phones {
			flex-basis: 100%;
			margin-top: 1.923076923076923rem;
		}
	}

	&__title {
		margin-bottom: $gutter;
		font-family: $title;
		font-size: 1.5rem;
		font-weight: 700;
		color: $dark;
		letter-spacing: .075rem;
	}
}
