.book-contents {
	display: flex;
	justify-content: space-between;
	margin-top: 4rem;

	&__about {
		flex-basis: 41%;
	}

	&__about-desc {
		color: gray;
	}

	&__table {
		flex-basis: 53%;
	}

	&__title {
		margin-bottom: $gutter;
		font-family: $title;
		font-size: 1.5rem;
		font-weight: 700;
		color: $dark;
		letter-spacing: .075rem;
	}
}
