.footer {
	padding: 10rem 0;
	color: $light;
	background-color: $dark;

	@include tablets {
		padding: 3.125rem 0;
	}

	&__col {
		flex: 1;

		@include phones {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 3.076923076923077rem;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;

		@include phones {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}

	&__title {
		margin-bottom: $gutter;
		font-family: $title;
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 1.5rem;
		color: $accent;
		text-transform: uppercase;
		letter-spacing: .045rem;
	}

	&__desc {
		max-width: 22.625rem;

		@include tablets {
			max-width: 18.21428571428571rem;
		}

		@include phones {
			max-width: none;
		}
	}
}
