.logo {
	display: flex;
	width: 137px;
	height: 28px;

	@include tablets {
		margin-bottom: 2.1875rem;
	}

	@include phones {
		margin-bottom: 0;
	}

	&__icon {
		max-width: 100%;
		max-height: 100%;
	}
}
