.nav {
	display: flex;
	align-items: center;

	&__list {
		display: flex;
	}

	&__item {
		margin-right: 1.25rem;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font-family: $text;
		font-size: 1rem;
		color: $white;
		letter-spacing: .8px;
	}
}
