.section-hero {
	position: relative;
	padding-top: 16.25rem;
	background-image: linear-gradient(-60deg, #54b7a1 0%, #426384 100%);

	@include tablets {
		padding-top: 12.5rem;
	}

	@include phones {
		padding-top: 10rem;
		padding-bottom: 3.076923076923077rem;
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}
