.section-hero {
	position: relative;
	background-image: linear-gradient(-60deg, #54b7a1 0%, #426384 100%);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
}
