.social {
	margin-top: 1.125rem;

	&__list {
		display: flex;
	}

	&__item {
		display: flex;
		margin-right: 1rem;

		&:last-child {
			margin-right: 0;
		}
	}

	&__icon {
		max-width: 1rem;
		max-height: 1rem;
		fill: $accent;
	}
}
