header
	.header
		.container.header__container
			a.logo(href="#"): +icon('logo', 'logo__icon')
			nav.nav
				ul.nav__list
					li.nav__item: a.nav__link(href="#") Home
					li.nav__item: a.nav__link(href="#") About
					li.nav__item: a.nav__link(href="#") Contentns
					li.nav__item: a.nav__link(href="#") Books
					li.nav__item: a.nav__link(href="#") Education
					li.nav__item: a.nav__link(href="#") Skills
					li.nav__item: a.nav__link(href="#") Portfolio
					li.nav__item: a.nav__link(href="#") Clients
					li.nav__item: a.nav__link(href="#") Contact